parameters:
    level: max
    treatPhpDocTypesAsCertain: false
    paths:
        - kits/collectionskit/src
        - kits/collectionskit/tests
        - kits/datetimekit/src
        - kits/datetimekit/tests
