<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.1/phpunit.xsd"
         bootstrap="phpunit.bootstrap.php"
         executionOrder="default"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="true"
         colors="true"
         cacheDirectory=".phpunit.cache"
         beStrictAboutCoverageMetadata="true"
         displayDetailsOnIncompleteTests="true"
         displayDetailsOnSkippedTests="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnPhpunitDeprecations="true"
         stopOnDefect="true"
>
    <testsuites>
        <testsuite name="acceptance">
            <directory suffix="Test.php">kits/validationkit/tests/acceptance/src</directory>
        </testsuite>
        <testsuite name="acceptance-validationkit">
            <directory suffix="Test.php">kits/validationkit/tests/acceptance/src</directory>
        </testsuite>

        <testsuite name="unit">
            <directory suffix="Test.php">kits/assertionskit/tests/unit/src</directory>
            <directory suffix="Test.php">kits/collectionskit/tests/unit/src</directory>
            <directory suffix="Test.php">kits/datetimekit/tests/unit/src</directory>
            <directory suffix="Test.php">kits/dependencykit/tests/unit/src</directory>
            <directory suffix="Test.php">kits/exceptionskit/tests/unit/src</directory>
            <directory suffix="Test.php">kits/missingbitskit/tests/unit/src</directory>
            <directory suffix="Test.php">kits/validationkit/tests/unit/src</directory>
            <directory suffix="Test.php">tools/ChangelogTool/tests/unit/src</directory>
        </testsuite>
        <testsuite name="unit-assertionskit">
            <directory suffix="Test.php">kits/assertionskit/tests/unit/src</directory>
        </testsuite>
        <testsuite name="unit-collectionskit">
            <directory suffix="Test.php">kits/collectionskit/tests/unit/src</directory>
        </testsuite>
        <testsuite name="unit-datetimekit">
            <directory suffix="Test.php">kits/datetimekit/tests/unit/src</directory>
        </testsuite>
        <testsuite name="unit-dependencykit">
            <directory suffix="Test.php">kits/dependencykit/tests/unit/src</directory>
        </testsuite>
        <testsuite name="unit-exceptionskit">
            <directory suffix="Test.php">kits/exceptionskit/tests/unit/src</directory>
        </testsuite>
        <testsuite name="unit-missingbitskit">
            <directory suffix="Test.php">kits/missingbitskit/tests/unit/src</directory>
        </testsuite>
        <testsuite name="unit-validationkit">
            <directory suffix="Test.php">kits/validationkit/tests/unit/src</directory>
        </testsuite>
        <testsuite name="unit-changelogtool">
            <directory suffix="Test.php">tools/ChangelogTool/tests/unit/src</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">kits/assertionskit/src</directory>
            <directory suffix=".php">kits/collectionskit/src</directory>
            <directory suffix=".php">kits/datetimekit/src</directory>
            <directory suffix=".php">kits/dependencykit/src</directory>
            <directory suffix=".php">kits/exceptionskit/src</directory>
            <directory suffix=".php">kits/missingbitskit/src</directory>
            <directory suffix=".php">kits/validationkit/src</directory>
            <directory suffix=".php">tools/ChangelogTool/src</directory>
        </include>
    </source>
</phpunit>
